name: Publish to GitHub Pages
on:
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: production
    
    steps:
    - name: Setup Pages
      uses: actions/configure-pages@v5
      
    - name: Download build artifacts
      uses: actions/download-artifact@v4
      with:
        pattern: web-app-build-*
        merge-multiple: true
        
    - name: Deploy to GitHub Pages
      uses: actions/deploy-pages@v4
