name: Publish to GitHub Pages
on:
  workflow_dispatch:
    inputs:
      run_branch:
        description: 'Branch of the last successful build (default: main)'
        required: false
        default: 'main'
      artifact_name:
        description: 'Build artifact to use (default: github-pages)'
        required: false
        default: 'github-pages' # Changed from 'webapp-build-ubuntu-latest'

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  publish:
    name: Download build artifact & deploy to Pages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout (optional)
        uses: actions/checkout@v4


      - name: Download build artifact from latest successful build run
        uses: dawidd6/action-download-artifact@v6
        with:
          workflow: test-build.yml
          branch: ${{ inputs.run_branch }}
          workflow_conclusion: success
          name: ${{ inputs.artifact_name }}
          path: .
          if_no_artifact_found: fail
          check_artifacts: true
          skip_unpack: false
        
      # Package the site contents as a Pages artifact
      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./site
        
      # Deploy to GitHub Pages
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

