name: Spell Check

on:
  pull_request:
    branches: [ main ]

jobs:
  spell-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Run Spell Check
        uses: streetsidesoftware/cspell-action@v6
        with:
          check-files: true

